{% set foodDetails = product.item_type_details %}

{% if foodDetails.dietary_preferences|length %}
    <div class="form-element product-detail__dietary-preferences">
        <div class="form-element__label">{{ 'partials.components.store.item.food_details.dietary.label'|localize }}</div>
        <div class="ui-badges-container">
            {% for preference in foodDetails.dietary_preferences %}
                {{ include('partials/ui/badge', { label: preference, type: 'info' }) }}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if foodDetails.ingredients|length %}
    <div class="form-element">
        <div class="form-element__label">{{ 'partials.components.store.item.food_details.ingredients.label'|localize }}</div>
        {% set formattedIngredients = [] %}
        {% for preference in foodDetails.ingredients %}
            {% set formattedIngredients = formattedIngredients|merge([preference|capitalize]) %}
        {% endfor %}
        <p>{{ formattedIngredients|join(', ') }}</p>
    </div>
{% endif %}