<div>
    <h3 class="heading-3 heading-with-margin">{{ heading }}</h3>
    {{ include('partials/components/collection/list', { items: products, layout: 'carousel', title: heading }) }}
</div>

{% schema %}
{
    "heading": {
        "type": "string"
    },
    "products": {
        "type": "item-list"
    }
}
{% endschema %}