<div class="product-reviews__dialog">
    {% for key, review in reviews %}
        {% embed 'partials/ui/dialog-multi-pane' with { index: key } %}
            {% block content %}
                {% embed 'partials/components/store/item/review-item' with { review, firstColumnAttrs: 'col-xs-12', secondColumnAttrs: 'col-xs-12' } %}
                    {% block images %}
                        {% if review.images|length > 0 %}
                            <div class="product-reviews__images">
                            {% set imageSizes = [602] %}
                                {% for image in review.images %}
                                    {% set altText = productName ~ ' - ' ~ ('templates.components.dialogs.product_reviews.img_alt'|localize({ name: review.reviewer_name })) ~ ' ' ~ loop.index %}
                                    <figure class="product-reviews__images-figure">
                                        {{ include('partials/ui/image', { image: { uri: image.absolute_url, urls: image.absolute_urls }, imageSizes, altText }) }}
                                    </figure>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endfor %}
</div>

{% schema %}
{
    "reviews": {
        "type": "array"
    },
    "productName": {
        "type": "string"
    },
    "activeIndex": {
        "type": "int"
    }
}
{% endschema %}