<div class="search-dialog" x-data="search()">
    <div class="search-dialog__header row">
        <div
            class="search-dialog__logo col"
            col-xs-6 col-sm-6 col-md-4
        >
            <a
                class="site-logo"
                href="/"
            >
                {{ square.site.title }}
            </a>
        </div>
        <div
            class="search-dialog__close col"
            col-xs-6 col-sm-6 col-md-4
        >
            {{ include('partials/ui/button', {
                variant: 'neutral',
                style: 'fill',
                size: 'medium',
                label: 'shared.buttons.cancel'|localize,
                action: '$store.dialog.closeDialog',
                buttonClasses: 'search-dialog__close-button'
            } ) }}
        </div>
        <div
            class="search-dialog__searchbar col"
            col-xs-12 col-sm-12 col-md-4
        >
            {{ include('partials/ui/search-bar') }}
        </div>
    </div>

    {# search results here, it will be refreshed #}
    <div
        x-ref="searchResults"
        class="search-dialog__results"
    >
        {{ include('partials/components/search-results') }}
    </div>
</div>