
<div
    class="location-list"
>
    
    
</div>

{% schema %}
    {
        "locations": {
            "type": "location-list",
            "filters": {
                "fulfillments": ["PICKUP"],
            }
        }
    }
{% endschema %}