{% set bannerSrc = hero.image.src %}
{% set bannerAlt = hero.alt %}
{{ include('partials/components/banner', {
    fullwidth: true,
    bannerAlt: bannerAlt,
    bannerImage: { uri: bannerSrc, urls: { 640: bannerSrc ~ '?width=640', 1280: bannerSrc ~ '?width=1280' } },
    bannerSizes: { sm: 640, lg: 1280 },
}) }}

<div class="home-page__marquee-wrapper">
    {{ include('partials/ui/marquee', { content: 'components.sections.home.banner.marquee'|localize }) }}
</div>

{% schema %}
{
    "hero": {
        "type": "array"
    }
}
{% endschema %}

{% editor %}
{
    "name": "Banner",
    "controls": [
        {
            "option": "group",
            "label": "Banner image",
            "value": {
                "controls": [
                    {
                        "option": "image",
                        "value": {
                            "$ref": "#/schema/hero/image"
                        }
                    },
                    {
                        "option": "input",
                        "label": "Image description",
                        "placeholder": "Enter alt text for accessibility",
                        "value": {
                            "$ref": "#/schema/hero/alt"
                        }
                    }
                ]
            }
        }
    ]
}
{% endeditor %}
