{% set bannerSrc = image.src is defined ? image.src|asset_url : 'images/home-banner.png'|asset_url %}
{% set altText = alt ? alt : 'components.sections.home.banner.alt'|localize %}
{% embed 'partials/components/banner' with {
    fullwidth: true,
    bannerAlt: altText,
    bannerImage: { uri: bannerSrc, urls: { 640: bannerSrc ~ '?width=640', 1280: bannerSrc ~ '?width=1280' } },
    bannerSizes: { sm: 640, lg: 1280 },
} %}
    {% block heading %}
        <h2 class="visually-hidden">
            {{ 'components.sections.home.banner.alt'|localize }}
        </h2>
    {% endblock %}
{% endembed %}

<div class="home-page__marquee-wrapper">
    {% set content = marquee ? marquee : 'components.sections.home.banner.marquee'|localize %}
    {{ include('partials/ui/marquee', { content: content }) }}
</div>

{% schema %}
{
    "image": {
        "type": "image",
        "optional": true
    },
    "alt": {
        "type": "string",
        "optional": true
    },
    "marquee": {
        "type": "string",
        "optional": true
    }
}
{% endschema %}

{% editor %}
{
    "name": "Banner",
    "controls": [
        {
            "control": "group",
            "label": "Banner image",
            "value": {
                "controls": [
                    {
                        "control": "image-chooser",
                        "value": {
                            "$ref": "#/schema/image"
                        }
                    },
                    {
                        "control": "input",
                        "label": "Image description",
                        "placeholder": "Alt text for accessibility",
                        "value": {
                            "$ref": "#/schema/alt"
                        }
                    }
                ]
            }
        },
        {
            "control": "input",
            "label": "Marquee text",
            "placeholder": "Scrolling text",
            "value": {
                "$ref": "#/schema/marquee"
            }
        }
    ]
}
{% endeditor %}
