<div class="container home-page__container">
    {{ include('partials/components/text', { heading, text }) }}

    <div
        class="rich-text"
    >
        {{ richText|array_to_string }}
        {{ rich_text(richText) }}
    </div>
</div>

{% schema %}
{
    "heading": {
        "type": "string"
    },
    "text": {
        "type": "string"
    },
    "richText": {
        "type": "array"
    }
}
{% endschema %}

{% editor %}
{
    "name": "Text",
    "controls": [
        {
            "control": "input",
            "label": "Heading",
            "value": {
                "$ref": "#/schema/heading"
            }
        },
        {
            "control": "textarea",
            "label": "Text",
            "value": {
                "$ref": "#/schema/text"
            }
        },
        {
            "option": "rich-text",
            "label": "Text",
            "value": {
                "$ref": "#/schema/richText"
            }
        }
    ]
}
{% endeditor %}