<div
    x-show="isMegaMenuVisible"
    tabindex="0"
    class="mega-menu container"
    :class="{ 'is-visible': isMegaMenuVisible }"
    x-transition:enter="slide-down-enter-active"
    x-transition:enter-start="slide-down-enter-from"
    x-transition:enter-end="slide-down-enter-to"
    x-transition:leave="slide-down-leave-active"
    x-transition:leave-start="slide-down-leave-from"
    x-transition:leave-end="slide-down-leave-to"
    @mouseleave="onMouseLeave"
    @mouseenter="cancelDelayedMegaMenuClose"
>
    <div
        class="custom-scrollbar mega-menu-scrollbar"
    >
        <div class="mega-menu__inner row custom-scrollbar-inner">
            <div
                class="mega-menu__submenu-grid col"
                x-bind:col-6="currentlyDisplayedLink?.menu_image_url"
                x-bind:col-12="!currentlyDisplayedLink?.menu_image_url"
            >
                <div class="row">
                    <template x-for="(navItem, menuIndex) in currentlyDisplayedLink?.children" :key="menuIndex">
                        <div
                            class="mega-menu__submenu col"
                            col-xs-12 col-sm-6
                            x-bind:col-md-4="currentlyDisplayedLink?.menu_image_url"
                            x-bind:col-md-2="!currentlyDisplayedLink?.menu_image_url"
                        >
                            <div
                                class="mega-menu__child-nav">
                                {# the title of the submenu #}
                                <a
                                    class="mega-menu__child-nav-title"
                                    :href="navItem.url"
                                    x-text="generateTitle(navItem)"
                                    @keydown.tab="onMegaMenuItemTab"
                                ></a>
                                <ul
                                    class="mega-menu__child-nav-links">
                                    {# links in the submenu #}
                                    <template x-for="(navItemChild, navItemChildIndex) in navItem.children"
                                    x-key="navItemChildIndex">
                                        <li>
                                            <a :href="navItemChild.url" x-text="generateTitle(navItemChild)" class="mega-menu__child-nav-item"></a>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <template x-if="currentlyDisplayedLink?.menu_image_url && currentlyDisplayedLink?.children">
                <div
                    class="mega-menu__image-wrapper col"
                    col-5 offset-1
                >
                    <img class="mega-menu__image" :src="currentlyDisplayedLink.menu_image_url">
                </div>
            </template>
        </div>
    </div>
</div>