{{ register_asset('css/components/text.css') }}

<div class="text-section">
    <h2 class="heading-3 heading-with-margin text-section__heading">{{ heading }}</h2>
    <div class="text-section__desc">
        <p>{{ text }}</p>
    </div>
</div>