.ui-breadcrumb {
    font-size: var(--theme-font-size-minus-2);
    line-height: var(--theme-font-size-minus-2-line-height);
    color: var(--theme-color-neutral-70);
    text-transform: uppercase;
    letter-spacing: var(--theme-font-size-minus-2-letter-spacing);
}

.ui-breadcrumb li {
    display: inline;
}

.ui-breadcrumb li + li::before {
    padding: 0 2px;
    content: '/\00a0';
}

.ui-breadcrumb li span {
    color: inherit;
}

.ui-breadcrumb li a {
    color: inherit;
}

@media (min-width: 700px) {
    .ui-breadcrumb li a {
        text-decoration: none;
    }
}

.ui-breadcrumb li a:hover {
    opacity: 0.6;
}
