.ui-button {
    /* Primary Button */
    --theme-button-primary-filled-width: var(--settings-button-primary-width, 0);
    --theme-button-primary-filled-text: var(--settings-button-primary-filled-text, #fff);
    --theme-button-primary-filled-text-hover: var(--settings-button-primary-filled-text-hover, var(--theme-button-primary-filled-text));
    --theme-button-primary-filled-bg: var(--settings-button-primary-filled-bg, var(--theme-color-neutral-100));
    --theme-button-primary-filled-bg-hover: var(--settings-button-primary-filled-bg-hover, var(--theme-color-neutral-80));
    --theme-button-primary-filled-bg-active: var(--settings-button-primary-filled-bg-active, var(--theme-color-neutral-70));
    --theme-button-primary-outline-width: var(--settings-button-primary-width, 1px);
    --theme-button-primary-outline: var(--settings-button-primary-outline, var(--theme-color-neutral-90));
    --theme-button-primary-outline-hover: var(--settings-button-primary-outline-hover, var(--theme-button-primary-outline));
    --theme-button-primary-outline-active: var(--settings-button-primary-outline-active, var(--theme-button-primary-outline));
    --theme-button-primary-outline-bg-hover: var(--theme-color-neutral-05);
    --theme-button-primary-outline-bg-active: var(--theme-color-neutral-20);
    --theme-button-primary-destructive-text: #fff;
    --theme-button-primary-destructive-bg: #cc0023;
    --theme-button-primary-destructive-bg-hover: #b2001e;
    --theme-button-primary-destructive-bg-active: #99001a;
    --theme-button-primary-shadow: var(--settings-button-primary-shadow, none);
    --theme-button-primary-shadow-hover: var(--settings-button-primary-shadow-hover, none);

    /* Secondary Button */
    --theme-button-secondary-outline-width: var(--settings-button-secondary-width, 1px);
    --theme-button-secondary-outline: var(--settings-button-secondary-outline, var(--theme-color-neutral-15));
    --theme-button-secondary-outline-hover: var(--settings-button-secondary-outline-hover, var(--theme-color-neutral-15));
    --theme-button-secondary-outline-active: var(--settings-button-secondary-outline-active, var(--theme-color-neutral-15));
    --theme-button-secondary-outline-text: var(--settings-button-secondary-outline-text, var(--theme-color-neutral-90));
    --theme-button-secondary-outline-text-hover: var(--settings-button-secondary-outline-text-hover, var(--theme-button-secondary-outline-text));
    --theme-button-secondary-outline-bg-hover: var(--theme-color-neutral-05);
    --theme-button-secondary-outline-bg-active: var(--theme-color-neutral-10);
    --theme-button-secondary-filled-width: var(--settings-button-secondary-width, 0);
    --theme-button-secondary-filled-text: var(--settings-button-secondary-filled-text, var(--theme-button-secondary-outline-text));
    --theme-button-secondary-filled-text-hover: var(--settings-button-secondary-filled-text-hover, var(--theme-button-secondary-filled-text));
    --theme-button-secondary-filled-bg: var(--settings-button-secondary-filled-bg, var(--theme-color-neutral-05));
    --theme-button-secondary-filled-bg-hover: var(--settings-button-secondary-filled-bg-hover, var(--theme-color-neutral-10));
    --theme-button-secondary-filled-bg-active: var(--settings-button-secondary-filled-bg-active, var(--theme-color-neutral-20));
    --theme-button-secondary-destructive-outine: #bf0020;
    --theme-button-secondary-destructive-text: #bf0020;
    --theme-button-secondary-destructive-bg: var(--theme-color-neutral-05);
    --theme-button-secondary-destructive-bg-hover: #ffe5ea;
    --theme-button-secondary-destructive-bg-active: #ffccd5;
    --theme-button-secondary-shadow: var(--settings-button-secondary-shadow, none);
    --theme-button-secondary-shadow-hover: var(--settings-button-secondary-shadow-hover, none);

    /* Neutral fill */
    --theme-button-neutral-fill-text: var(--theme-color-neutral-100);
    --theme-button-neutral-fill-bg: var(--theme-color-neutral-05);
    --theme-button-neutral-fill-bg-hover: var(--theme-color-neutral-10);
    --theme-button-neutral-fill-bg-active: var(--theme-color-neutral-20);

    /* Neutral outline */
    --theme-button-neutral-outline-text: var(--theme-color-neutral-100);
    --theme-button-neutral-outline: var(--theme-color-neutral-05);
    --theme-button-neutral-outline-bg-hover: var(--theme-color-neutral-05);
    --theme-button-neutral-outline-bg-active: var(--theme-color-neutral-10);

    /* Tertiary Button */
    --theme-button-tertiary-text: var(--settings-button-secondary-outline-text, var(--theme-color-neutral-90));
    --theme-button-tertiary-text-contrast: var(--theme-color-neutral-0);
    --theme-button-tertiary-bg: transparent;
    --theme-button-tertiary-bg-hover: var(--theme-color-neutral-05);
    --theme-button-tertiary-bg-active: var(--theme-color-neutral-10);
    --theme-button-tertiary-destructive-text: var(--theme-button-secondary-destructive-text);
    --theme-button-tertiary-destructive-bg: transparent;
    --theme-button-tertiary-destructive-bg-hover: var(--theme-button-secondary-destructive-bg-hover);
    --theme-button-tertiary-destructive-bg-active: var(--theme-button-secondary-destructive-bg-active);

    position: relative;
    display: flex;
    gap: var(--space);
    align-items: center;
    font-family: var(--theme-font-family-label);
    font-size: var(--theme-font-size-base);
    font-weight: var(--theme-font-weight-normal);
    line-height: var(--theme-line-height-base);
    cursor: pointer;
    border: none;
    border-radius: var(--theme-border-radius-button);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.ui-button[disabled] {
    cursor: not-allowed;
}

.ui-button[hidden] {
    display: none;
}

.ui-button--small {
    height: var(--theme-button-small-height);
    padding: 0 var(--space-x1_5);
    font-size: var(--theme-font-size-minus-1);
    line-height: var(--theme-font-size-minus-1-line-height);
}

.ui-button--medium {
    height: var(--theme-button-medium-height);
    padding: 0 var(--space-x1_5);
}

.ui-button--large {
    height: var(--theme-button-large-height);
    padding: 0 var(--space-x3);
}

.ui-button--center,
.ui-button[alignment="center"] {
    justify-content: center;
}

.ui-button--left,
.ui-button[alignment="left"] {
    justify-content: left;
}

.ui-button--right,
.ui-button[alignment="right"] {
    justify-content: right;
}

.ui-button--space-between,
.ui-button[alignment="space-between"] {
    justify-content: space-between;
}

/* Primary fill */
.ui-button--primary-fill,
.ui-button[variant="primary"][style="fill"],
.ui-button--primary-fill-destructive {
    color: var(--theme-button-primary-filled-text);
    background-color: var(--theme-button-primary-filled-bg);
    border: var(--theme-button-primary-filled-width) solid var(--theme-button-primary-outline);
    border-radius: var(--settings-button-primary-radius, var(--theme-border-radius-button));
    box-shadow: var(--theme-button-primary-shadow);
}

.ui-button--primary-fill:hover,
.ui-button[variant="primary"][style="fill"]:hover {
    color: var(--theme-button-primary-filled-text-hover);
    background-color: var(--theme-button-primary-filled-bg-hover);
    border-color: var(--theme-button-primary-outline-hover);
    box-shadow: var(--theme-button-primary-shadow-hover);
}

.ui-button--primary-fill:focus,
.ui-button[variant="primary"][style="fill"]:focus {
    color: var(--theme-button-primary-filled-text-hover);
    background-color: var(--theme-button-primary-filled-bg-active);
    border-color: var(--theme-button-primary-outline-active);
    box-shadow: var(--theme-button-primary-shadow-hover);
}

.ui-button--primary-fill-destructive {
    color: var(--theme-button-primary-destructive-text);
    background-color: var(--theme-button-primary-destructive-bg);
}

.ui-button--primary-fill-destructive:hover {
    background-color: var(--theme-button-primary-destructive-bg-hover);
    box-shadow: var(--theme-button-primary-shadow-hover);
}

.ui-button--primary-fill-destructive:focus {
    background-color: var(--theme-button-primary-destructive-bg-active);
    box-shadow: var(--theme-button-primary-shadow-hover);
}

.ui-button--primary-fill:disabled,
.ui-button[variant="primary"][style="fill"]:disabled,
.ui-button--primary-fill-destructive:disabled {
    opacity: 0.5;
}

/* Primary outline */
.ui-button--primary-outline,
.ui-button[variant="primary"][style="outline"],
.ui-button--primary-outline-destructive {
    color: var(--theme-button-primary-outline);
    background-color: transparent;
    border: var(--theme-button-primary-outline-width) solid var(--theme-button-primary-outline);
    border-radius: var(--settings-button-primary-radius, var(--theme-border-radius-button));
    box-shadow: var(--theme-button-primary-shadow);
}

.ui-button--primary-outline-destructive {
    color: var(--theme-button-primary-destructive-bg);
    border-color: var(--theme-button-primary-destructive-bg);
}

.ui-button--primary-outline:hover,
.ui-button[variant="primary"][style="outline"]:hover,
.ui-button--primary-outline-destructive:hover {
    background-color: var(--theme-button-primary-outline-bg-hover);
    box-shadow: var(--theme-button-primary-shadow-hover);
}

.ui-button--primary-outline:hover,
.ui-button[variant="primary"][style="outline"]:hover {
    color: var(--theme-button-primary-outline-hover);
    border-color: var(--theme-button-primary-outline-hover);
}

.ui-button--primary-outline:focus,
.ui-button[variant="primary"][style="outline"]:focus,
.ui-button--primary-outline-destructive:focus {
    background-color: var(--theme-button-primary-outline-bg-active);
    box-shadow: var(--theme-button-primary-shadow-hover);
}

.ui-button--primary-outline:focus,
.ui-button[variant="primary"][style="outline"]:focus {
    color: var(--theme-button-primary-outline-active);
    border-color: var(--theme-button-primary-outline-active);
}

.ui-button--primary-outline:disabled,
.ui-button[variant="primary"][style="outline"]:disabled,
.ui-button--primary-outline-destructive:disabled {
    opacity: 0.5;
}

/* Secondary fill */
.ui-button--secondary-fill,
.ui-button[variant="secondary"][style="fill"],
.ui-button--secondary-fill-destructive {
    color: var(--theme-button-secondary-filled-text);
    background-color: var(--theme-button-secondary-filled-bg);
    border: var(--theme-button-secondary-filled-width) solid var(--theme-button-secondary-outline);
    border-radius: var(--settings-button-secondary-radius, var(--theme-border-radius-button));
    box-shadow: var(--theme-button-secondary-shadow);
}

.ui-button--secondary-fill:hover,
.ui-button[variant="secondary"][style="fill"]:hover {
    color: var(--theme-button-secondary-filled-text-hover);
    background-color: var(--theme-button-secondary-filled-bg-hover);
    border-color: var(--theme-button-secondary-outline-hover);
    box-shadow: var(--theme-button-secondary-shadow-hover);
}

.ui-button--secondary-fill:focus,
.ui-button[variant="secondary"][style="fill"]:focus {
    color: var(--theme-button-secondary-filled-text-hover);
    background-color: var(--theme-button-secondary-filled-bg-active);
    border-color: var(--theme-button-secondary-outline-active);
    box-shadow: var(--theme-button-secondary-shadow-hover);
}

.ui-button--secondary-fill-destructive {
    color: var(--theme-button-secondary-destructive-text);
    background-color: var(--theme-button-secondary-destructive-bg);
    border-color: var(--theme-button-secondary-destructive-outine);
}

.ui-button--secondary-fill-destructive:hover {
    background-color: var(--theme-button-secondary-destructive-bg-hover);
}

.ui-button--secondary-fill-destructive:focus {
    background-color: var(--theme-button-secondary-destructive-bg-active);
}

.ui-button--secondary-fill:disabled,
.ui-button[variant="secondary"][style="fill"]:disabled,
.ui-button--secondary-fill-destructive:disabled {
    opacity: 0.5;
}

/* Secondary outline */
.ui-button--secondary-outline,
.ui-button[variant="secondary"][style="outline"],
.ui-button--secondary-outline-destructive {
    color: var(--theme-button-secondary-outline-text);
    background-color: transparent;
    border: var(--theme-button-secondary-outline-width) solid var(--theme-button-secondary-outline);
    border-radius: var(--settings-button-secondary-radius, var(--theme-border-radius-button));
    box-shadow: var(--theme-button-secondary-shadow);
}

.ui-button--secondary-outline-destructive {
    color: var(--theme-button-secondary-destructive-text);
    background-color: transparent;
    border-color: var(--theme-button-secondary-destructive-outine);
}

.ui-button--secondary-outline:hover,
.ui-button[variant="secondary"][style="outline"]:hover,
.ui-button--secondary-outline-destructive:hover {
    background-color: var(--theme-button-secondary-outline-bg-hover);
    box-shadow: var(--theme-button-secondary-shadow-hover);
}

.ui-button--secondary-outline:hover,
.ui-button[variant="secondary"][style="outline"]:hover {
    color: var(--theme-button-secondary-outline-text-hover);
    border-color: var(--theme-button-secondary-outline-hover);
}

.ui-button--secondary-outline:focus,
.ui-button[variant="secondary"][style="outline"]:focus,
.ui-button--secondary-outline-destructive:focus {
    background-color: var(--theme-button-secondary-outline-bg-active);
    box-shadow: var(--theme-button-secondary-shadow-hover);
}

.ui-button--secondary-outline:focus,
.ui-button[variant="secondary"][style="outline"]:focus {
    color: var(--theme-button-secondary-outline-text-hover);
    border-color: var(--theme-button-secondary-outline-active);
}

.ui-button--secondary-outline-destructive:hover {
    background-color: var(--theme-button-secondary-destructive-bg-hover);
}

.ui-button--secondary-outline-destructive:focus {
    background-color: var(--theme-button-secondary-destructive-bg-active);
}

.ui-button--secondary-outline:disabled,
.ui-button[variant="secondary"][style="outline"]:disabled,
.ui-button--secondary-outline-destructive:disabled {
    opacity: 0.5;
}

/* Neutral fill */
.ui-button--neutral-fill,
.ui-button[variant="neutral"][style="fill"] {
    color: var(--theme-button-neutral-fill-text);
    background-color: var(--theme-button-neutral-fill-bg);
    border-radius: var(--settings-button-primary-radius, var(--theme-border-radius-button));
}

.ui-button--neutral-fill:hover,
.ui-button[variant="neutral"][style="fill"]:hover {
    background-color: var(--theme-button-neutral-fill-bg-hover);
}

.ui-button--neutral-fill:focus,
.ui-button[variant="neutral"][style="fill"]:focus {
    background-color: var(--theme-button-neutral-fill-bg-active);
}

.ui-button--neutral-fill-destructive {
    color: var(--theme-button-primary-destructive-text);
    background-color: var(--theme-button-primary-destructive-bg);
}

.ui-button--neutral-fill-destructive:hover {
    background-color: var(--theme-button-primary-destructive-bg-hover);
}

.ui-button--neutral-fill-destructive:focus {
    background-color: var(--theme-button-primary-destructive-bg-active);
}

.ui-button--neutral-fill:disabled,
.ui-button[variant="neutral"][style="fill"]:disabled,
.ui-button--neutral-fill-destructive:disabled {
    opacity: 0.5;
}

/* Neutral outline */
.ui-button--neutral-outline,
.ui-button[variant="neutral"][style="outline"] {
    color: var(--theme-button-neutral-outline-text);
    background-color: transparent;
    border: var(--theme-button-secondary-outline-width) solid var(--theme-button-neutral-outline);
    border-radius: var(--settings-button-secondary-radius, var(--theme-border-radius-button));
}

.ui-button--neutral-outline:hover,
.ui-button[variant="neutral"][style="outline"]:hover {
    background-color: var(--theme-button-neutral-outline-bg-hover);
}

.ui-button--neutral-outline:focus,
.ui-button[variant="neutral"][style="outline"]:focus {
    background-color: var(--theme-button-neutral-outline-bg-active);
}

.ui-button--neutral-outline-destructive {
    color: var(--theme-button-secondary-destructive-text);
    background-color: var(--theme-button-secondary-destructive-bg);
}

.ui-button--neutral-outline-destructive:hover {
    background-color: var(--theme-button-secondary-destructive-bg-hover);
}

.ui-button--neutral-outline-destructive:focus {
    background-color: var(--theme-button-secondary-destructive-bg-active);
}

.ui-button--neutral-outline:disabled,
.ui-button[variant="neutral"][style="outline"]:disabled,
.ui-button--neutral-outline-destructive:disabled {
    opacity: 0.5;
}

/* Tertiary */
.ui-button--tertiary {
    color: var(--theme-button-tertiary-text);
    background-color: var(--theme-button-tertiary-bg);
}

.ui-button--tertiary:hover {
    background-color: var(--theme-button-tertiary-bg-hover);
}

.ui-button--tertiary:focus {
    background-color: var(--theme-button-tertiary-bg-active);
}

.ui-button--tertiary-destructive {
    color: var(--theme-button-tertiary-destructive-text);
    background-color: var(--theme-button-tertiary-destructive-bg);
}

.ui-button--tertiary-destructive:hover {
    background-color: var(--theme-button-tertiary-destructive-bg-hover);
}

.ui-button--tertiary-destructive:focus {
    background-color: var(--theme-button-tertiary-destructive-bg-active);
}

.ui-button--tertiary:disabled,
.ui-button--tertiary-destructive:disabled {
    opacity: 0.5;
}

/* Text */
.ui-button--text,
.ui-button--text-destructive {
    display: initial;
    height: auto;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    background: none;
}

.ui-button--text-destructive {
    color: var(--theme-button-tertiary-destructive-text);
}

.ui-button--text span:not(.ui-button__icon) {
    text-decoration: underline;
}

@media (min-width: 700px) {
    .ui-button--text span:not(.ui-button__icon) {
        text-decoration: none;
    }
}

.ui-button--text.ui-button--contrast {
    color: var(--theme-button-tertiary-text-contrast);
}

.ui-button__icon:hover,
.ui-button--text:hover {
    opacity: 0.6;
}

.ui-button--text span:not(.ui-button__icon):hover,
.ui-button--text-destructive span:not(.ui-button__icon):hover {
    text-decoration: underline;
}

.ui-button--text[disabled] {
    opacity: 0.55;
}

.ui-button--fullwidth,
.ui-button[fullwidth="true"] {
    width: 100%;
}

/* Row */
.ui-button--row,
.ui-button--row-destructive {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: var(--space-x2) 0;
    font-weight: inherit;
    color: inherit;
    background: none;
    border-bottom: 1px solid var(--theme-border-color);
    border-radius: 0;
    transition: border-color 0.1s ease;
}

.ui-button--row-destructive {
    color: var(--theme-button-tertiary-destructive-text);
}

.ui-button--row::before,
.ui-button--row-destructive::before {
    position: absolute;
    top: 0;
    left: calc(var(--space-x1_5) * -1);
    display: block;
    width: calc(100% + calc(var(--space-x1_5) * 2));
    height: 100%;
    content: '';
    background-color: var(--theme-form-field-row-hover);
    border-radius: var(--theme-border-radius);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.ui-button--row:hover,
.ui-button--row-destructive:hover {
    border-color: transparent;
}

.ui-button--row:hover::before,
.ui-button--row-destructive:hover::before {
    opacity: 1;
}

.ui-button--row .ui-button__icon,
.ui-button--row-destructive .ui-button__icon {
    order: 2;
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button--row span,
.ui-button--row-destructive span {
    position: relative;
}
