/* assumes an html structure with a full-screen 'drawer' wrapper element, and an inner 'drawer__inner' element */

.drawer {
    position: fixed;
    top: 0;
    z-index: var(--theme-z-index-flyout);
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100%;
    background-color: var(--theme-color-body-70-alpha);
    visibility: hidden;
    transition: visibility 300ms ease;
}

.drawer--right {
    left: 0;
}

.drawer--left {
    right: 0;
}

.drawer.active {
    visibility: visible;
}

.drawer__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--theme-body-color);
    transform: translateX(100%);
    transition: transform 300ms ease;
}

@media (min-width: 700px) {
    .drawer__inner {
        width: 400px;
    }
}

.drawer.active .drawer__inner {
    transform: translateX(0);
}

.drawer__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--space-x2) var(--space-x3);
}
