.ui-price {
    --theme-price-font-size: calc(var(--theme-font-size-base) + 3px);
    --theme-price-line-height: 1.69;
    --theme-price-font-size-small: var(--theme-font-size-base);
    --theme-price-line-height-small: var(--theme-price-font-size);
    --theme-price-font-size-tiny: var(--theme-font-size-minus-1);
    --theme-price-line-height-tiny: var(--theme-font-size-minus-1-line-height);

    display: inline-flex;
    gap: var(--space);
    font-size: var(--theme-price-font-size);
    font-weight: var(--theme-font-weight-heavy);
    line-height: var(--theme-price-line-height);
}

.ui-price--small {
    font-size: var(--theme-price-font-size-small);
    font-weight: var(--theme-font-weight-normal);
    line-height: var(--theme-price-line-height-small);
}

.ui-price--tiny {
    font-size: var(--theme-price-font-size-tiny);
    font-weight: var(--theme-font-weight-normal);
    line-height: var(--theme-price-line-height-tiny);
}

.ui-price__regular {
    text-decoration: line-through;
}

.ui-price__final {
    color: var(--theme-sale-text-color);
}

.ui-price__range {
    flex-flow: column;
    gap: 0;
}

.ui-price__row-break {
    flex-basis: 100%;
    height: 0;
}

.ui-price__extra {
    display: inline-flex;
    align-items: center;
    font-size: var(--theme-price-font-size);
    font-weight: var(--theme-font-weight-heavy);
    line-height: var(--theme-price-line-height);
}

.ui-price--small .ui-price__extra {
    font-size: var(--theme-price-font-size-small);
    font-weight: var(--theme-font-weight-medium);
    line-height: var(--theme-price-line-height-small);
}

.ui-price--tiny .ui-price__extra {
    font-size: var(--theme-price-font-size-tiny);
    font-weight: var(--theme-font-weight-medium);
    line-height: var(--theme-price-line-height-tiny);
}

.ui-price__extra:not(.ui-price__extra--hide-divider)::before {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: var(--space);
    vertical-align: middle;
    content: "";
    background-color: currentcolor;
    border-radius: 50%;
}
