.ui-segmented-control {
    display: flex;
    padding: var(--space-half);
    background-color: var(--theme-color-neutral-05);
    border-radius: var(--theme-border-radius-button);
}

.ui-segmented-control--fullwidth {
    width: 100%;
}
