{{ register_asset('js/templates/order-online/fulfillment.js', { defer: false }) }}

<div
    class="swf-container"
>
    <h3 class="heading-3">{{ location.name }}</h3>
    <div
        x-data="datePickerData()"
        class="swf-contents"
    >
        <template x-for="entry in Object.entries(firstData.available_times || {})">
            <h3 class="heading-3" x-text="entry[1].label">{{ location.name }}</h3>
        </template>
    </div>
</div>

{% schema %}
{
    "location": {
        "type": "location"
    },
    "schedule": {
        "type": "schedule"
    },
    "categoryList": {
        "type": "category-list"
    },
    "category": {
        "type": "category"
    },
    "item": {
        "type": "item"
    },
    "itemList": {
        "type": "item-list"
    }
    
}
{% endschema %}