{{ register_asset('css/components/order-online/swf.css') }}
{{ register_asset('js/templates/order-online/swf.js', { defer: false }) }}

<script id="swf-data" type="application/json">
    {{ {
        defaultSchedule: schedule,
    }|json_encode }}
</script>

<script>
    const test = JSON.stringify({{ {
        cart,
    }|json_encode }});
    console.log(test);
</script>

<div
    x-data="swf('swf-data')"
    class="container"
>
    <div
        class="swf-section__container"
    >
        {{ include('partials/components/order-online/fulfillment-selection', {
            fulfillments: square.store.fulfillment_support,
            defaultFulfillment,
        }) }}
    </div>
</div>

{% schema %}
{
    "location": {
        "type": "location"
    },
    "schedule": {
        "type": "schedule"
    },
    "cart": {
        "type": "cart"
    }
}
{% endschema %}