<div
    class="swf-container"
>
    <h3 class="heading-3">{{ location.name }}</h3>
</div>

{% schema %}
{
    "location": {
        "type": "location"
    },
    "schedule": {
        "type": "schedule"
    }
}
{% endschema %}