<script id="scheduling-data" type="application/json">
    {{ {
        schedule,
        translations: {
            weekdays: {
                0: 'shared.week.short.sunday'|localize,
                1: 'shared.week.short.monday'|localize,
                2: 'shared.week.short.tuesday'|localize,
                3: 'shared.week.short.wednesday'|localize,
                4: 'shared.week.short.thursday'|localize,
                5: 'shared.week.short.friday'|localize,
                6: 'shared.week.short.saturday'|localize,
            },
        }
    }|json_encode }}
</script>

{% async:content %}
    <div
        x-data="scheduling('scheduling-data')"
        class="scheduling__container"
    >
        <p x-text="$store.swf.selectedScheduleTime.label"></p>
        {% set buttonLabel = 'partials.components.order-online.scheduling.buttons.change'|localize %}
        {{ include('partials/ui/button', { variant: 'text', size: 'small', label: buttonLabel, buttonClasses: 'scheduling__button', action: 'openSchedulingDialog' }) }}
    </div>
{% endasync %}

{% async:loading %}
    <div class="ui-loader--overlay">{{ include('partials/ui/loader') }}</div>
{% endasync %}

{% schema %}
{
    "schedule": {
        "type": "schedule"
    }
}
{% endschema %}