{% async:content %}
    {% set options = [] %}
    {% for time in times %}
        {% set options = options|merge([{ label: time.label, value: time.time_unix }]) %}
    {% endfor %}

    {% embed 'partials/form/radio' with {
        options: options,
        hideLabel: true,
        showDivider: true,
        variant: 'row',
        isRequired: true,
        parentModel: 'selectedTimeId',
    } %}
        {% block data %}
            init() {
                this.$watch('selectedTimeId', (value) => {
                    Alpine.store('dialog').updateDialogOptions('disablePrimaryButton', !value);
                });
            },
        {% endblock %}
    {% endembed %}
{%  endasync %}

{% async:loading %}
    <div class="ui-loader--overlay">{{ include('partials/ui/loader') }}</div>
{% endasync %}

{% schema %}
    {
        "times": {
            "type": "array"
        }
    }
{% endschema %}